    <% include header %>
    <h1><%= title %></h1>
    <div>
        <h3>Forgot your username or password?</h3>
        <p>Enter your username or email linked to your <%= title %> account. A link will 
        be sent to your email. Use it to reset your password, or be reminded of your username.</p>
        <%= message %>
        <form method="post" action="/forgotloginProcess">
           E-mail: <input type="text" name="email"/><br/>
           <input type="submit" value="Submit"/>
        </form>
    </div>
    <% include footer %>