
    <% include header %>
    <h1><%= title %></h1>
    <div>
        <h3>Registration</h3>
        <% if ( message ) { %>
           <div class="flash"><%= message %></div>
        <% } %>
        <form method="post" action="/verify">
           Name: <input type="text" name="name"/>*<br/>
           Username: <input type="text" name="username"/>*<br/>
           E-mail: <input type="text" name="email"/>*<br/>
           Password: <input type="password" name="password"/>*<br/>
           Retype P: <input type="password" name="retypeP"/>*<br/>
           Location: <input type="text" name="location"/><br/>
           Website: <input type="website" name="website"/><br/>
           <input type="submit" value="Submit"/>
        </form>
    </div>
    <% include footer %>