    <% include header %>
    <h1><%= title %></h1>
    <div>
        <h3>Reset your password by entering the new password twice below.</h3>
        <%= message %>
        <form method="post" action="/passwordConfirm">
           Password: <input type="password" name="password"/><br/>
           Retype P: <input type="password" name="retypeP"/><br/>
           <input type="submit" value="Submit"/>
        </form>
    </div>
    <% include footer %>